$mdc-theme-primary: #005d5c;
@import "~preact-material-components/Theme/mdc-theme";
@import '~preact-material-components/Button/mdc-button';
@import '~preact-material-components/TextField/mdc-text-field';
@import '~preact-material-components/LayoutGrid/mdc-layout-grid';
@import '~preact-material-components/Select/mdc-select';
@import '~preact-material-components/Snackbar/mdc-snackbar';

@import "~quill/dist/quill.snow";

body {
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;
    font: 1em/1.5 "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    background-image: linear-gradient(-120deg, #26e289, #1a5fa2 100%, red 200%);
}

.hide {
    display: none;
}

.wrap {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-row-gap: 20px;
}

.title {
    grid-row: 1;
    grid-column: 1/13;
    text-align: center;
}

.editer {
    grid-row: 2;
    grid-column: 3/11;

    .ql-editor {
        height: 350px;
    }
}

.generate {
    grid-row: 3;
    grid-column: 5/7;
    align-self: center;
}

.selectAntiStyle {
    grid-row: 3;
    grid-column: 3/5;
    margin-right: 20px;
}

canvas {
    grid-row: 4;
    grid-column: 3/11;
}